* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 30px;
  background-color: #031729;
}

.app {
  margin: 0 auto;
  height: calc(100vh - 60px);
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.header {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px;
  background-color: #223e55;
}

.header .left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header .left .image {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.header .left .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header .left p {
  font-size: 26px;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}

.body {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.body::-webkit-scrollbar {
  appearance: none;
  background-color: transparent;
  width: 10px;
}

.body::-webkit-scrollbar-thumb {
  appearance: none;
  background-color: gray;
  border-radius: 20px;
}

.body::-webkit-scrollbar-thumb:hover {
  background-color: darkgray;
}

.body .message {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  width: fit-content;
  max-width: 80%;
}

.body .message .image {
  margin-top: 5px;
  height: 28px;
  width: 28px;
}

.body .message .image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.message p {
  background-color: rgba(255, 255, 255, 0.12);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border-top-left-radius: 0;
  font-size: 16px;
  line-height: 25px;
  white-space: pre-wrap;
}

.mRight {
  margin-left: auto;
}

.mRight p {
  border-radius: 10px;
  border-top-right-radius: 0;
  background-color: #1d90f5;
}

.body .typing {
  border-radius: 10px;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  gap: 6px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: fit-content;
}

.typing .dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #a8a8a8;
  animation: bounce 1s linear infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.25s;
}

.dot:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes bounce {
  from,
  to {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

.footer {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
}

.footer input {
  flex: 1;
  outline: none;
  border: none;
  border-radius: 5px;
  border: 2px solid #696969;
  padding: 8px 16px;
  background-color: transparent;
  color: white;
  transition: 200ms;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
}

.footer input:focus {
  border-color: #1d90f5;
}

.footer .btn {
  padding: 10px;
  border-radius: 10px;
  background-color: #1d90f5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer .btn:active .icon {
  transform: translateY(1px);
}

.btn .icon {
  border-radius: 10px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 200ms;
}

.btn .icon svg {
  height: 14px;
  width: 14px;
}
